@import '../../../../assets/styles/tablestyles';
@import '../../../../assets/styles/admin';
@import '../../../../assets/styles/mixins.scss';

.table-section {
  @extend %table-section-styles;

  .table-heading {
    font-family: Inter, sans-serif;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.665rem;
    color: #162650;
    margin-bottom: 1rem;
  }

  .striped-table {
    @extend %striped-table;

    tbody {
      tr {
        &:first-child {
          background-color: #f9fafa;
          th {
            font-family: $main-font-family;
            font-weight: 500;
            font-size: 1rem;
            color: #425669;
            padding: 1.25rem 0.625rem;
            text-align: left;
          }
        }
        td {
          @extend %table-data-styles;
        }
      }
    }
  }
}
