@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

$main-font-family: 'Inter', sans-serif;
$section-heading-text-color: #00b8bf;

%main-font-family {
  font-family: $main-font-family;
}
