@import "./mixins.scss";

:root {
  --dark: #0c0d0f;
  --secondary: #f2f7ff;
  --white: #ffffff;
  --text: #8c9298;
  --placeholder: #646c74;
  --text2: #64769e;
  --border: #cfd3dd;
  --border2: #efebf2;
  --border3: #d7e4ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--dark);
}

button {
  background: transparent;
  cursor: pointer;
  font-family: inherit;
}

a {
  color: inherit;
  cursor: pointer;
}

h1 {
  font-size: 63px;
  line-height: 64px;
  font-weight: 400;
  font-family: "PT Serif", serif;

  @include mobile(600px) {
    font-size: 44px;
    line-height: 48px;
  }
}

h2 {
  font-size: 48px;
  line-height: 52px;
  font-weight: 400;
  font-family: "PT Serif", serif;

  @include mobile(600px) {
    font-size: 32px;
    line-height: 36px;
  }
}

h3 {
  font-size: 34px;
  line-height: 40px;
  font-family: "PT Serif", serif;

  @include mobile(600px) {
    font-size: 27px;
    line-height: 32px;
  }
}

h4 {
  font-size: 30px;
  line-height: 38px;
  font-family: "PT Serif", serif;

  @include mobile(600px) {
    font-size: 24px;
    line-height: 30px;
  }
}

h5 {
  font-size: 24px;
  line-height: 32px;
  font-family: "PT Serif", serif;

  @include mobile(600px) {
    font-size: 20px;
    line-height: 26px;
  }
}

h6 {
  font-size: 20px;
  line-height: 27px;
  font-family: "PT Serif", serif;

  @include mobile(600px) {
    font-size: 19px;
  }
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text {
  &--sm {
    font-size: 18px;
    line-height: 26.5px;
    color: var(--text);

    @include mobile(600px) {
      font-size: 17px;
      line-height: 25.5px;
    }
  }

  &--xs {
    font-size: 16px;
    line-height: 24px;
    color: var(--text);
  }

  &--2xs {
    font-size: 14px;
    line-height: 20px;
    color: var(--text);
  }
}

.app-container {
  padding-left: 50px;
  padding-right: 50px;

  @include mobile(986px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__section {
    max-width: 1296px;
    margin: 0 auto;
  }
}

.bg-gradient {
  background: #151313;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.border {
  border-bottom: 1px solid var(--border2);
}

